{% extends "templates/base.html" %}

{% block content %}

    {% if checkouts %}
    <h4>
        <p>This are all of your previous finished checkouts.</p>
    </h4>

    <hr>
    <br>

    <div class="table-responsive">
        <table class="table table-striped" id="shoping-cart">
            <thead>
                <tr>
                    <th> Unique ID </th>
                    <th>Payment amount</th>
                    <th>Currency</th>
                    <th>Transaction ID</th>
                    <th>Payment fee</th>
                    <th>Order time </th>
                    <th>Timestamp </th>
                    <th>Payment status </th>
                    <th>Details </th>
                </tr>
            </thead>

            <tbody>
              {% for checkout in checkouts %}
                  <tr>
                      <th scope="row"><small>{{ checkout._id }}</small></th>
                      <td>{{checkout.paypalInfo.PAYMENTINFO_0_AMT}}</td>
                      <td>{{checkout.paypalInfo.PAYMENTINFO_0_CURRENCYCODE}}</td>
                      <td>{{checkout.paypalInfo.PAYMENTINFO_0_TRANSACTIONID}}</td>
                      <td>{{checkout.paypalInfo.PAYMENTINFO_0_FEEAMT}}</td>
                      <td>{{checkout.paypalInfo.PAYMENTINFO_0_ORDERTIME}}</td>
                      <td>{{checkout.paypalInfo.TIMESTAMP}}</td>
                      <td>{{checkout.paypalInfo.PAYMENTINFO_0_PAYMENTSTATUS}}</td>
                      <td><a href="{{servlet-context}}/checkout-details/{{checkout._id}}"> Details</a></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
      <h3>Your Have no previous checkouts. </br>Please visit our <a class="btn btn-primary" href="{{servlet-context}}/store">store</a> to create your first one.</h3>
    {% endif %}
{% endblock %}
